.wrapper {
    margin: 0 auto;
    width: 100vh;
    height: 100vh;
    margin-top: 60px;
}

.form {
    display: flex;
}

.form>button {
    border-radius: 5px;
    border: 1px solid darkcyan;
    color: #fff;
    background-color: darkcyan;
    padding: 0 20px;
    margin-left: 10px;
}

.input {
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid darkcyan;
    padding: 10px;
}

.todo {
    margin-top: 30px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid darkcyan;
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-column-gap: 10px;
}

.todo__actions>button {
    border-radius: 5px;
    border: 1px solid darkcyan;
    color: #fff;
    background-color: darkcyan;
    padding: 5px;
}

.todo__actions {
    display: grid;
    grid-template-columns: repeat(2, 100px);
}

.todo__text_completed {
    text-decoration: line-through;
}